body{
  background-color: black;
  text-align: center;
  background-image: url("code.jfif");
  background-repeat: repeat;
  background-position: top;
  background-attachment: fixed;
  margin: 0 auto;
}
.title{
  color: white;
  font-size: 75px;
  font-family: 'Barriecito', cursive;
  text-align: center;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #0094AD;
}

.intro{
  color: white;
  font-size: 30px;
  font-family: 'Barriecito', cursive;
  text-align: center;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #0094AD;
}

.quotes{
  color: white;
  font-size: 20px;
  font-family: 'DM Serif Display', serif;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: #0094AD;
}
.image{
  display: block;
  margin: 0 auto;
}
.contents{
  position: fixed;
  top:0px;
  left:0px;
  color :#AD4E00;
  background : #AD4E00;
  border: 2px solid black;
  padding: 2px;
  padding-left: 2px;
  text-align: center;
  padding-right: 0px;
  padding-left: 20px;
  list-style-type: none;
}
a{
  text-decoration: none;
}
.paragraph{
  max-width: 740px;
  margin: 0 auto;
}
.delorian{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.ecto-1{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.column {
 float: right;
 width: 33.33%;
 padding: 5px;
}
.row::after {
 content: "";
 clear: both;
 display: table;
}
.anim{
  animation-name: drive;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  position: relative;
}

@keyframes drive {
  0% {left: 1000px; top: 0px;}
  100% {left: -1500px; top: 0px;}
}

.scrshot{
  width: 60%;
}

@keyframes rainbow {
  0% {color: black;}
  5% {color: red;}
  15% {color: orange}
  25% {color: yellow;}
  35% {color: #7DFF33;}
  45% {color: green;}
  55% {color: #45F0FF;}
  65% {color: blue;}
  75% {color: #FF3AC8;}
  85% {color: #AD2EFF;}
  95% {color: white;}
  100% {color: black;}
}

.anim3{
  animation-name: rainbow;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  position: relative;
}
